.footer-section{
    &__greyline{
        margin-top: 30px;
        width: 100%;
        height: 2px;
        background-color: $grey-separator;
    }
    &__company-detail{
        padding-top: 30px;
        padding-bottom: 21px;
    }
    &__copyright-detail{
        padding-top: 30px;
        padding-bottom: 21px;
    }
    &__social-links{
        padding-bottom: 39px;
    }
   
}

.address-item{
    &-adress{
       color: $main-regular;
    }
    &-link{
        color: $active-regular;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 1px;
    }
    &-company{
        color: $grey-text;
    }
}

.footer-grid{
    display: grid;
    width: 100%;
    grid-template-areas: 'address copyright' 'contact copyright';
    &__address{
        grid-area: address;
    }
    &__copyright{
        grid-area: copyright;
    }
    &__contact{
        grid-area: contact;
    }
    @media screen and (max-width:$md) {
        grid-template-areas: 'address' 'copyright' 'contact';
    }
    
}