.team{
    &-section{
        background-color: $white;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &-carousel__text-box{
        padding: 30px;
    }
    &-carousel__content-box{
        background-color: $grey-bg;
        border-radius: 8px;
    }
    &-carousel-item__title{
        padding-top: 30px;
        color: $grey-text;
    }
    &-carousel-item__sub-title{
        padding-top: 6px;
        color: $grey-text;
    }
    &-carousel-item__img{
        max-width: 400px;
        width: 100%;
    }
    &-carousel-inner{
       padding: 0;
    }
    &-carousel__content-box{
        display: flex;
    }
    &-carousel__text-box{
        max-width: 1140px;
        width: 100%;
    }
}

.team-btn-circle{
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $active-regular;
    transition: all 0.8s ease;
    &.active{
        background-color: $active-active;
    }
    &:hover{
        background-color: $active-hover;
    }
}

@media screen and (min-width: 768px){
    .team-carousel-inner {
        padding-left: 0px;
        padding-top: 0px;
    }
}

@media (max-width: 1220px){
    .team-carousel__content-box{
        flex-wrap: wrap;
    }
    .team-carousel-item__img{
        max-width: 350px;
        width: 100%;
    }
}
