.team{
    &-section{
        background-color: $white;
        padding-top: 60px;
    }
    &-carousel-item{
        background-color: $grey-bg;
        display: flex;
    }
    &-carousel-item__img{
        max-width: 400px;
    }
    &-carousel__content-box{
        max-width: 860px;
    }
    &-section-main-title__link{
        padding-bottom: 5px;
    }
    &-section-main-title__title{
        padding-bottom: 30px;
    }
    &-carousel-item__title{
        color: $grey-text;
        padding-bottom: 6px;
    }
    &-carousel-item__sub-title{
        color: $grey-text;
        padding-bottom: 30px;
    }
}