/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------------------------------------------
                              root
---------------------------------------------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

/* for text properties */
.fz38 {
  font-size: 38px;
}

.fz30 {
  font-size: 30px;
}

.fz22 {
  font-size: 22px;
}

.fz18 {
  font-size: 18px;
}

.fz16 {
  font-size: 16px;
}

.fz14 {
  font-size: 14px;
}

.fw700 {
  font-weight: 700;
}

.fw400 {
  font-weight: 400;
}

.lh47 {
  line-height: 46.32px;
}

.lh37 {
  line-height: 36.57px;
}

.lh27 {
  line-height: 26.82px;
}

.lh20 {
  line-height: 20px;
}

.lh26 {
  line-height: 26px;
}

.lh17 {
  line-height: 17.07px;
}

.lh15 {
  line-height: 14.63px;
}

.lh22 {
  line-height: 22px;
}

/* for color properties */
/*  for flex properties */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.content-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.gap15 {
  gap: 15px;
}

.gap18 {
  gap: 18px;
}

.gap26 {
  gap: 26px;
}

.gap30 {
  gap: 30px;
}

/* container */
.container {
  max-width: 1420px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.btn-sm {
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px 7px;
  transition: all 0.8s ease;
}
.btn-sm.active, .btn-sm:hover {
  background-color: #F0145A;
}

.offcanvas {
  border-radius: 8px 8px 0 0;
}

html {
  scroll-behavior: smooth;
}

.section-main-title__title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-main-title__link {
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 2px;
  transition: all 0.8s ease;
}
.section-main-title__link:hover {
  color: #F0145A;
}
.section-main-title__link-arrow {
  width: 27px;
  height: 27px;
}

.top-left-rounded {
  border-radius: 12px 0 0 0;
}

.top-right-rounded {
  border-radius: 0 12px 0 0;
}

.bottom-left-rounded {
  border-radius: 0 0 0 12px;
}

.bottom-right-rounded {
  border-radius: 0 0 12px 0;
}

.active-regular {
  color: #24A3FF;
}

.carousel-indicators.carousel-indicators-h [data-bs-target] {
  text-indent: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 38px;
  color: #CACADB;
  transition: all 0.8s;
}
.carousel-indicators.carousel-indicators-h [data-bs-target].active {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  gap: 0;
}
.carousel-indicators.carousel-indicators-h [data-bs-target]:hover {
  color: #F0145A;
}

.carousel-indicators.carousel-indicators-h {
  position: relative;
  margin: 0;
  flex-direction: column;
  flex-grow: 1;
  border-right: none;
  white-space: nowrap;
  border-bottom: 2px solid #CACADB;
}
@media screen and (min-width: 768px) {
  .carousel-indicators.carousel-indicators-h {
    border-bottom: none;
    border-right: 2px solid #CACADB;
  }
}

.main-carousel.main-slide {
  grid-template-columns: 100%;
}
@media screen and (min-width: 768px) {
  .main-carousel.main-slide {
    grid-template-columns: repeat(2, 1fr);
  }
}

.carousel-indicators__btn {
  max-width: 100%;
  align-items: end;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 30px;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .carousel-indicators__btn {
    flex-direction: column;
    max-width: 375px;
    padding-right: 10px;
    gap: 0;
  }
}

.carousel-inner {
  padding-left: 0;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .carousel-inner {
    padding-left: 60px;
    padding-top: 0px;
  }
}

.carousel-section {
  padding: 60px 0 60px;
}

.canDo-section {
  padding: 60px 0 60px;
}
.canDo-section-main-title__link {
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 2px;
  padding-bottom: 10px;
  transition: all 0.8s ease;
}
.canDo-section-main-title__link:hover {
  color: #F0145A;
}
.canDo-section-main-title__link-arrow {
  width: 27px;
  height: 27px;
}
.canDo-section-main-title__title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 60px;
}
.canDo-section__item {
  padding-bottom: 60px;
}
.canDo-section__item-title {
  padding-top: 30px;
  color: #006CCF;
}
.canDo-section__item-textbox {
  padding-top: 15px;
}

.team-section {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.team-carousel__text-box {
  padding: 30px;
}
.team-carousel__content-box {
  background-color: #F5F5FA;
  border-radius: 8px;
}
.team-carousel-item__title {
  padding-top: 30px;
  color: #B3B3BA;
}
.team-carousel-item__sub-title {
  padding-top: 6px;
  color: #B3B3BA;
}
.team-carousel-item__img {
  max-width: 400px;
  width: 100%;
}
.team-carousel-inner {
  padding: 0;
}
.team-carousel__content-box {
  display: flex;
}
.team-carousel__text-box {
  max-width: 1140px;
  width: 100%;
}

.team-btn-circle {
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
  transition: all 0.8s ease;
}
.team-btn-circle.active {
  background-color: #006CCF;
}
.team-btn-circle:hover {
  background-color: #0085FF;
}

@media screen and (min-width: 768px) {
  .team-carousel-inner {
    padding-left: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 1220px) {
  .team-carousel__content-box {
    flex-wrap: wrap;
  }
  .team-carousel-item__img {
    max-width: 350px;
    width: 100%;
  }
}
.companies-section__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #323264;
  padding-bottom: 30px;
}
.companies-section__item-img {
  width: 100%;
  max-width: 430px;
}
.companies-section__item {
  padding: 0;
  margin: 0;
  margin-bottom: -4px;
}
.companies-section {
  padding-bottom: 56px;
}

.publications-section__main-title {
  padding: 30px 0 30px;
}
.publications-section {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}
.publications-section__publication-item {
  background-color: #ffffff;
  max-width: 420px;
  width: 100%;
  border-radius: 12px;
}
.publications-section__img-row {
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .publications-section__img-row {
    flex-direction: row;
    justify-content: space-between;
  }
}
.publication-item__textbox {
  padding: 30px;
  max-width: 420px;
  width: 100%;
}
.publication-item__textbox-title {
  color: #24A3FF;
  padding-bottom: 15px;
}
.publication-item__textbox-subtitle {
  color: #B3B3BA;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.publication-item__textbox-greyline {
  max-width: 360px;
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
}
.publication-item__img {
  max-width: 420px;
  width: 100%;
}
.publication-item__textbox-text {
  padding-top: 15px;
}

.footer-section__greyline {
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #E6E6F0;
}
.footer-section__company-detail {
  padding-top: 30px;
  padding-bottom: 21px;
}
.footer-section__social-links {
  padding-bottom: 39px;
}

.address-item-adress {
  color: #323264;
}
.address-item-link {
  color: #24A3FF;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}
.address-item-company {
  color: #B3B3BA;
}

/*----------------------------------------------------------------------------
                            HOMEPAGE
------------------------------------------------------------------------------*/
.section-gradient {
  min-height: 100vh;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;
}
.section-gradient__shadow {
  position: absolute;
  height: 10px;
  background-color: #CACADB;
  border-radius: 0 0 12px 12px;
  width: 100%;
}
.section-gradient__shadow--1 {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
}
.section-gradient__shadow--2 {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background-color: #E7E7F2;
}

.main-wrap {
  position: relative;
  min-height: 100vh;
}
.main-wrap-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.main-wrap-bg__h {
  height: 100%;
}
.main-wrap__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  z-index: 100;
}
.main-wrap__title {
  padding: 0 30px;
}

.header-grid {
  padding: 5px;
  color: #ffffff;
  display: grid;
  width: 100%;
  grid-template-areas: "info" "logo" "nav";
  row-gap: 18px;
}
@media screen and (min-width: 768px) {
  .header-grid {
    grid-template-areas: "logo info" "logo nav";
  }
}
.header-grid__logo {
  grid-area: logo;
}
.header-grid__info {
  grid-area: info;
}
.header-grid__nav {
  grid-area: nav;
}

.address-item {
  display: flex;
  align-items: center;
}
.address-item::before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  background-color: #CACADB;
  border-radius: 50%;
  display: inline-block;
  right: 8px;
}
.address-item-facebook {
  width: 38px;
  height: 38px;
}

.nav-link-h {
  color: #24A3FF;
}
@media screen and (min-width: 576px) {
  .nav-link-h {
    color: #ffffff;
  }
}

.btn-circle {
  background-color: transparent;
  border: 1px solid #CACADB;
  border-radius: 50%;
  display: inline-block;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CACADB;
  cursor: pointer;
}
.btn-circle__icon {
  fill: #CACADB;
}/*# sourceMappingURL=main.css.map */