@import './reset';
@import './style';
@import './carousel';
@import './canDo';
@import './team';
/*----------------------------------------------------------------------------
                            HOMEPAGE
------------------------------------------------------------------------------*/

.section-gradient{
    min-height: 100vh;
    background: $gradient-supersoft;
    border-radius: $rounded-bottom;
    position: relative;
    &__shadow{
       position: absolute;
       height: 10px;
       background-color: $grey--1;
       border-radius: $rounded-bottom;
       width: 100%;
       &--1{
          bottom: -10px;
          width: calc(100% - 40px);
          left: 20px;
       }
       &--2{
        bottom: -20px;
        width: calc(100% - 80px);
        left: 40px;
        background-color: $grey--2;
     }
    }
}

.main-wrap{
    position: relative;
    min-height: 100vh;
    &-bg{
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        &__h{
            height: 100%;
        }
    }
    &__section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        position: relative;
        z-index: 100;
    }
    &__title{
        padding: 0 30px;
    }
}

.header-grid{
    padding: 5px;
    color: $white;
    display: grid;
    width: 100%;
    grid-template-areas: 'info''logo' 'nav';
    row-gap: 18px;
    @media screen and (min-width:$md) {
        grid-template-areas: 'logo info' 'logo nav';
    }
    &__logo{
        grid-area: logo;
    }
    &__info{
        grid-area: info;
    }
    &__nav{
        grid-area: nav;
    }
}

.address-item{
    display: flex;
    align-items: center;
    &::before{
        content: '';
        position: relative;
        height: 6px;
        width: 6px;
        background-color: $grey--1;
        border-radius: 50%;
        display: inline-block;
        right: 8px;
    }
}

.nav-link-h{
    color: $active-regular;
    @media  screen and (min-width:$sm) {
        color: $white;
    }
}

.btn-circle{
    background-color: transparent;
    border: 1px solid $grey--1;
    border-radius: 50%;
    display: inline-block;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey--1;
    cursor: pointer;
    &__icon{
        fill: $grey--1;
        
    }
}